In [1]:
import pandas as pd

In [2]:
#Read CSV file
vine_table = pd.read_csv("vine_table.csv")
vine_table

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y
...,...,...,...,...,...,...
1785992,RPC430LWZJ60T,5,1,1,N,N
1785993,R347MZT5FH6HRJ,5,2,2,N,N
1785994,RJ5BETZP0VIUS,1,0,2,N,N
1785995,R85QTDO2KZMGO,1,1,3,N,N
1785996,R2W36RZZZNTYWF,5,1,1,N,N

In [3]:
total_votes = vine_table.loc[vine_table["total_votes"] >= 20]
total_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785714,R26KS4Q9G04FIV,2,8,21,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [4]:
total_votes["helpful_percent"] = total_votes["helpful_votes"]/total_votes["total_votes"] 
total_votes = total_votes.reset_index()
total_votes

<ipython-input-4-6cac941f6a2b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_votes["helpful_percent"] = total_votes["helpful_votes"]/total_votes["total_votes"]

,index,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
0,55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
1,74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
2,209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
3,289,R3EZ0EPYLDA34S,1,14,31,N,Y,0.451613
4,483,R2FJ94555FZH32,2,55,60,N,N,0.916667
...,...,...,...,...,...,...,...,...
65374,1785688,R3GYUWLD9FWCPS,5,30,30,N,N,1.000000
65375,1785714,R26KS4Q9G04FIV,2,8,21,N,N,0.380952
65376,1785788,RU0J1ZMBCLD27,5,27,29,N,N,0.931034
65377,1785806,R1D69XH2THYKTG,5,18,20,N,N,0.900000
65378,1785935,R3U5C85OV6BUKM,4,38,43,N,N,0.883721

In [5]:
type(total_votes["helpful_percent"][0])

numpy.float64

In [8]:
total_votes_df = total_votes.loc[total_votes["helpful_percent"] >= .50]
total_votes_df

,index,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
0,55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
1,74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
2,209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
4,483,R2FJ94555FZH32,2,55,60,N,N,0.916667
5,537,R1U3AR67RE273L,1,51,65,N,Y,0.784615
...,...,...,...,...,...,...,...,...
65373,1785641,RCMDCDJR16IKW,4,27,30,N,N,0.900000
65374,1785688,R3GYUWLD9FWCPS,5,30,30,N,N,1.000000
65376,1785788,RU0J1ZMBCLD27,5,27,29,N,N,0.931034
65377,1785806,R1D69XH2THYKTG,5,18,20,N,N,0.900000
65378,1785935,R3U5C85OV6BUKM,4,38,43,N,N,0.883721

In [9]:
paid_program = total_votes_df.loc[total_votes_df["vine"] == 'Y']
paid_program

,index,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
231,32611,R3KKUSGFZWSUIY,5,56,63,Y,N,0.888889
234,33112,R10FO5UKKVZBK2,3,23,23,Y,N,1.000000
462,69680,RM4KSGEOR7MU1,5,19,24,Y,N,0.791667
1291,155361,RG7VRMYLEXD23,4,22,26,Y,N,0.846154
2140,239327,R11O4YSCPSNL6L,3,20,26,Y,N,0.769231
...,...,...,...,...,...,...,...,...
38067,1456862,RLPTVGLU0JQIP,3,42,45,Y,N,0.933333
38811,1463333,R3ASJ9SENYYYI0,5,40,46,Y,N,0.869565
40410,1481162,RNU8PK609WT6P,4,347,362,Y,N,0.958564
41988,1506354,R8YT75NJW0CM9,4,37,40,Y,N,0.925000
42006,1506642,R2EDL85YVF0PRA,5,23,32,Y,N,0.718750

In [10]:
unpaid_program = total_votes_df.loc[total_votes_df["vine"] == 'N']
unpaid_program

,index,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_percent
0,55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
1,74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
2,209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
4,483,R2FJ94555FZH32,2,55,60,N,N,0.916667
5,537,R1U3AR67RE273L,1,51,65,N,Y,0.784615
...,...,...,...,...,...,...,...,...
65373,1785641,RCMDCDJR16IKW,4,27,30,N,N,0.900000
65374,1785688,R3GYUWLD9FWCPS,5,30,30,N,N,1.000000
65376,1785788,RU0J1ZMBCLD27,5,27,29,N,N,0.931034
65377,1785806,R1D69XH2THYKTG,5,18,20,N,N,0.900000
65378,1785935,R3U5C85OV6BUKM,4,38,43,N,N,0.883721

In [11]:
paid_program_count = paid_program['vine'].value_counts()
paid_program_count

Y    94
Name: vine, dtype: int64

In [13]:
paid_program_5_star = paid_program.loc[paid_program["star_rating"] == 5]
paid_program_5_star.count()

index                48
review_id            48
star_rating          48
helpful_votes        48
total_votes          48
vine                 48
verified_purchase    48
helpful_percent      48
dtype: int64

In [14]:
unpaid_program_count = unpaid_program['vine'].value_counts()
unpaid_program_count

N    40471
Name: vine, dtype: int64

In [15]:
unpaid_program_5_star = unpaid_program.loc[unpaid_program["star_rating"] == 5]
unpaid_program_5_star.count()

index                15663
review_id            15663
star_rating          15663
helpful_votes        15663
total_votes          15663
vine                 15663
verified_purchase    15663
helpful_percent      15663
dtype: int64

In [18]:
paid_5_percent = (paid_program_5_star["star_rating"].count()/paid_program_count)*100
paid_5_percent

Y    51.06383
Name: vine, dtype: float64

In [19]:
unpaid_5_percent = (unpaid_program_5_star["star_rating"].count()/unpaid_program_count)*100
unpaid_5_percent

N    38.701786
Name: vine, dtype: float64